#left{
  float: left;
  width: 50%;
}

#right{
  float: right;
  width: 50%;
}

#map{
  height: 400px;
  width: 100%;
}

#streetview{
  height: 50vh;
  width: 100%;
}

#img{
  height: 50vh;
  max-width: 30%;
}

#imageBorder{
  margin-bottom: 5px;
  border: 1px solid black;
  border-style: dashed;
  margin-top: 5px;
  margin-left: 5px;

}

div#saveButton,
#sAVE {
	background-color: lightgrey;
	cursor: pointer;
	border: 1px dashed black;
	width: 30%;
	text-align: center;
	font-family: "Circular Std";
}

div#saveButton:active,
#sAVE:active {
	background-color: grey;
	color: white;
}

div#saveButton:hover,
#sAVE:hover{
	background-color: darkgrey;
}

div#buttons{
	display: flex;
	width: 80%;
	justify-content: center;
}

div#saveButton{
	margin-right: 4px;
}

div#gpsInfo{
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
}
form {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
input[placeholder]{
	 text-align:center;
}
